<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @order.email %></h1>
    <p>
      This is to confirm your order for the listed items:
    </p><br />

    <div class="panel panel-default items">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2">Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_total = 0 %>
          <% @order.line_items.each do |item| %>
            <%= render 'order', product_id: item.product_id, details: item %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="4">
              TOTAL:
            </th>
            <th>
              <%= @cart_total %>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>

    <p>
      Thanks for doing business with us!
    </p><br />
    <p>
      Jungle Costumer Service
    </p>

  </body>
</html>
